<!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->

<section id="cs-contact-490">
  <div class="cs-container">
    <!-- Contact Info -->
    <div class="cs-content">
      <span class="cs-topper">Contact Us</span>
      <h2 class="cs-title">Contact Information</h2>
      <p class="cs-text">
        Please feel free to contact us if you have any questions.
      </p>

      <!--Address-->
      <span class="cs-header">Address</span>
      <a href="" class="cs-link">
        Company Address here, <br />City, State Zip Code
      </a>
      <!--Email-->
      <span class="cs-header">Email</span>
      <a href="mailtp:info@iabuyer.com" class="cs-link">tiyukon@comcast.net</a>
      <!--Phone-->
      <span class="cs-header">Phone</span>
      <a href="tel:425-686-9566" class="cs-link">847-641-8448</a>

      <!--Social Buttons-->
    </div>
    <!-- Form -->
    <form id="cs-form-490" name="Contact Form" method="post">
      <label class="cs-label">
        Name
        <input
          class="cs-input"
          required
          type="text"
          id="name-490"
          name="name"
          placeholder="Full Name..."
        />
      </label>
      <label class="cs-label">
        Email
        <input
          class="cs-input"
          required
          type="text"
          id="email-490"
          name="email"
          placeholder="Email..."
        />
      </label>
      <label class="cs-label">
        Phone
        <input
          class="cs-input"
          required
          type="text"
          id="phone-490"
          name="phone"
          placeholder="Phone Number..."
        />
      </label>

      <label class="cs-label -label-message">
        Message
        <textarea
          class="cs-input"
          required
          name="Message"
          id="message-490"
          placeholder="Reason For Contact..."
        ></textarea>
      </label>
      <button class="cs-button-solid" type="submit">Submit</button>
    </form>
  </div>
</section>
